@font-face {
    font-family: "Lora-Regular", serif;
    src: url("Lora-Regular.ttf")
}

nav {
  background-color: rgba(0,0,0,0.02);
  position: fixed;
  z-index: 10;
  top: 0;
}

#headerButtons {
  position: absolute;
  right: 0;
  bottom: 12%;
  width: 20%;
  background-color: rgba(0,0,0,0.7);
}

div.navButtons {
  width: 100%;
  font-family: "Lora-Regular", serif;
}

.background {
  background-color: white;
}

body {
  font-family: 'Lora-Regular', serif;
  height: 100vh;
  width: 100%;
}

img {
  width: 100%;
}

h1 {
  font-family: 'Alfa Slab One', serif;
}

p {
  font-family: 'Lora-Regular', serif;
  font-size: 1.5em;
}

#projects {
  margin-top: 100px;
}

#projects p {
  font-size: 1.5em;
}

#portrait {
  margin-top: 40px;
}

i,a.brand-logo, nav ul li a {
  color: black;
}

a.brand-logo {
  font-family: 'Alfa Slab One', serif;
}

div.title {
  position: absolute;
  bottom: 8%;
  width: auto;
}

.hide {
  visibility: hidden;
}

.evan {
  font-size: 9em;
  font-family: 'Alfa Slab One', serif;
  /*margin-bottom: -5%;*/
}

.tagline {
  position: absolute;
  bottom: 2%;
}

header#home {
  position: relative;
  height: 85%;
  width: 100%;
  margin-top: -10%;
}

i {
  font-size: 5.2vw;
}

i.fa {
  font-size: 30px;
  padding: 5%;
  color: peachpuff;
}

section {
  padding-top: 4vh;
}

#webdev {
  font-family: 'Lora-Regular', serif;
  font-size: 4em;
}

#about {
  background-color: whitesmoke;
}

#contact {
  background-color: dimgray;
  color: gainsboro;
}

@media (max-width: 768px) {
  header#home {
    height: 40%;
  }

  .evan {
    font-size: 4.5em;
    font-family: 'Alfa Slab One', serif;
    font-align: center;
  }

  .tagline {
    position: absolute;
    bottom: 2%;
    font-size: 0.5em;
  }

  i {
    font-size: 10vw;
  }
}

  /*background-size: auto 600px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url("../images/GA_Headshot.jpg")*/