@font-face {
    font-family: "Lora-Regular", serif;
    src: url("Lora-Regular.ttf")
}

nav {
  background-color: rgba(0,0,0,0.02);
  position: fixed;
  z-index: 10;
  top: 0;
}

nav ul a {
  font-size: 1.2rem;
}

#headerButtons {
  position: absolute;
  right: 0;
  bottom: 12%;
  width: 20%;
  background-color: rgba(0,0,0,0.7);
}

div.navButtons {
  width: 100%;
  font-family: "Lora-Regular", serif;
}

.background {
  background-color: white;
}

body {
  font-family: 'Lora-Regular', serif;
  height: 100vh;
  width: 100%;
}

img {
  width: 100%;
}

h1, h3, h4 {
  font-family: 'Alfa Slab One', serif;
}

h5 {
  text-decoration: underline;
}

p {
  font-family: 'Lora-Regular', serif;
  font-size: 1.5em;
}

#projects p {
  font-size: 1.5em;
}

#portrait {
  margin-top: 40px;
}

i,a.brand-logo, nav ul li a {
  color: black;
}

h4 a {
  color: #06abfc;
  padding-left: 2%;
}

a.brand-logo {
  font-family: 'Alfa Slab One', serif;
  padding-left: 15px;
}

a:hover, i.fa:hover {
  color: #66b9ae;
}

div.title {
  margin-top: 20%;
}

.hide {
  visibility: hidden;
}

.evan {
  font-size: 9em;
  font-family: 'Alfa Slab One', serif;
}

.tagline {
  margin-top: -4%;
}

#home {
  height: 75%;
  width: 100%;
  background-image: url(../images/pattern.svg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 4vh;
}

i {
  font-size: 5.2vw;
}

i.fa {
  font-size: 2em;
  padding: 5%;
  color: #06abfc;
}

i.fa-wordpress, i.fa-camera-retro, i.fa-flickr {
  color: #06abfc;
  font-size: 2.5em;
}

i.icon, #skills img {
  width: 12%;
  margin: 0 5px;
  font-size: 3.5em;
}

#skills img {
  margin-bottom: -2%;
}

div.modal-footer i.fa {
  font-size: 1.5em;
  padding: 0;
  color: #06abfc;
}

div.modal-footer i.fa:hover {
  color: #66b9ae;
}

.btn-flat {
  text-transform: none;
}

.btn-flat:hover {
  background-color: rgba(0,0,0,0.07);
}

.section {
  padding-top: 60px;
}

#webdev {
  font-family: 'Lora-Regular', serif;
  font-size: 4em;
}

#about {
  background-color: whitesmoke;
}

#abouthr {
  margin: 3% 0;
}

#bottomIcons {
  margin-top: 1%;
}

#contact {
  background-color: dimgray;
  color: gainsboro;
}

#contactMe {
  font-size: 1.5em;
}

@media only screen and (max-width: 992px) {
  nav .brand-logo {
    padding: 0;
  }
}

@media (max-width: 768px) {
  #home {
    height: 50%;
  }

  .evan {
    font-size: 5em;
  }

  .tagline {
    font-size: 0.55em;
  }

  i {
    font-size: 8vw;
  }

  #skills img {
    margin-bottom: -9px;
  }
}

@media (max-width: 600px) {
  #home {
    height: 40%;
  }

  .evan {
    font-size: 4.5em;
  }

  .tagline {
    font-size: 0.5em;
  }

  i {
    font-size: 10vw;
  }

  i.icon, #skills img {
    width: 20%;
    margin: 0 5px;
    font-size: 4.5em;
    line-height: 150px;
  }

  #skills img {
    margin-bottom: -10px;
  }
}