body {
	text-align: center;
	background-color: black;
	color: white;
	font-family: sans-serif;
}

p {
	margin-top: -10px;
}

div {
	border-radius: 5px;
	height: 100px;
	width: 100px;
	margin: 10px;
	display: inline-block;
	font-size: 3em;
	margin: auto;
	overflow: hidden;
	padding: 5px;
	background-color: #0d0d0d;
	padding: 5px;
}

 button {
 	font-size: 3em;
 	margin-top: 15px;
 	background-color: gray;
 	border-radius: 5px;
 	border: none;
 	color: white;
 }

.X {
	background-color: #808080;
}

.O {
	background-color: #0089e6;
}

#topLeft {
	border-right: 3px solid gray;
	border-bottom: 3px solid gray;
}

#topRight {
	border-left: 3px solid gray;
	border-bottom: 3px solid gray;
}

#bottomLeft {
	border-top: 3px solid gray;
	border-right: 3px solid gray;
}

#bottomRight {
	border-top: 3px solid gray;
	border-left: 3px solid gray;
}