body {
  background-color: #0086D1;
  font-family: Tahoma, sans-serif;
  color: white;
}

h1 {

}

h2 {
  background-color: #be0081;
  outline: solid thin black;
  display: inline-block;
  margin: auto;
  padding: 10px 10px 10px 10px;
}
